<div class="full-height d-flex-row all">
  <div class="left-toolbar full-height d-flex-column">
    <mat-card>
      <mat-card-title>
        Блоки
      </mat-card-title>
      <mat-card-content>
        <button mat-stroked-button class="toolbar-wide-button postavshik" (click)="addBlock(2)">
          + Поставщик
        </button>
        <button mat-stroked-button class="toolbar-wide-button vokzal" (click)="addBlock(1)">
          + Вокзал
        </button>
        <button mat-stroked-button class="toolbar-wide-button aeroport" (click)="addBlock(3)">
          + Аэропорт
        </button>
        <button mat-stroked-button class="toolbar-wide-button port" (click)="addBlock(4)">
          + Порт
        </button>
        <button mat-stroked-button class="toolbar-wide-button proizvoditel" (click)="addBlock(5)">
          + Производитель
        </button>
        <button mat-stroked-button class="toolbar-wide-button distributer" (click)="addBlock(7)">
          + Дистрибьютор
        </button>
        <button mat-stroked-button class="toolbar-wide-button potrebitel" (click)="addBlock(6)">
          + Потребитель
        </button>
      </mat-card-content>
      <mat-card-footer class="d-flex-row justify-content-end">
        <label class="mat-button" for="load">from JSON</label>
        <input type="file" id="load" style="display: none;" #loader (change)="loadScheme()">
        <button mat-button (click)="downloadScheme()">to JSON</button>
        <button mat-button (click)="settings()"><i class="material-icons">settings</i></button>
        <button mat-button (click)="save()"><i class="material-icons">save</i></button>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="paper-container full-height d-flex-row">
    <div class="paper-view" #paperView></div>
  </div>
  <div class="right-toolbar full-height">
    <app-block-info *ngIf="selectedBlock" [block]="selectedBlock" (blockChanged)="blockChange($event)"></app-block-info>
    <app-link-info *ngIf="selectedLink" [link]="selectedLink"></app-link-info>
  </div>
</div>
