:host {
  flex: 1 1 auto;
  min-height: 0;
}

.left-toolbar {
  flex: 0 0 300px;
}

.right-toolbar {
  flex: 0 0 450px;
}

.paper-container {
  flex: 1 1 auto;
  justify-content: center;
  align-content: center;
  overflow: auto;
}

.paper-view /deep/ {
  min-width: 1024px;
  min-height: 800px;
  flex: 0 0 auto;
}

.toolbar-wide-button {
  width: 100%;
  margin-bottom: 4px;
}

.vokzal {
  background-color: rgba(0, 0, 0, 0.35);
}

.postavshik {
  background-color: rgba(255, 0, 0, 0.35);
}

.aeroport {
  background-color: rgba(0, 0, 255, 0.35);
}

.port {
  background-color: rgba(0, 255, 255, 0.35);
}

.proizvoditel {
  background-color: rgba(255, 0, 255, 0.35);
}

.potrebitel {
  background-color: rgba(255, 255, 0, 0.35);
}

.distributer {
  background-color: rgba(255, 255, 255, 0.35);
}

.goods-one {
  width: 115px;
  height: 58px;
  font-size: 11px;
  position: absolute;
  .tab {
    padding: 0 2px;
    overflow-y: auto;
    height: 41px;
  }
  .row {
    border-top: 1px dotted black;
  }
  .name-in {
    width: 115px;
    height: 17px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
  }
}

.goods-rop {
  width: 130px;
  height: 58px;
  font-size: 11px;
  position: absolute;
  .tab {
    padding: 0 2px;
    overflow-y: auto;
    height: 41px;
  }
  .row {
    border-top: 1px dotted black;
  }
  .name-in {
    width: 130px;
    height: 17px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
  }
}

.name {
  width: 115px;
  height: 17px;
  padding: 2px;
  font-size: 12px;
  position: absolute;
  text-align: center;
  font-weight: 600;
}

.goods-two {
  width: 230px;
  height: 41px;
  font-size: 11px;
  //z-index: -1;
  position: absolute;
  display: inline-flex;
  flex-wrap: wrap;
  .name-in {
    width: 230px;
    height: 17px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
  }
  .left {
    width: 50%;
    padding: 0 2px;
    height: 100%;
    overflow-y: auto;
  }
  .right {
    width: 50%;
    padding: 0 2px;
    height: 100%;
    overflow-y: auto;
  }
  .row {
    border-top: 1px dotted black;
  }
}

.all {
  overflow: hidden;
}
