:host {
  flex: 1 1 auto;
  min-height: 0;
}

.left-toolbar {
  flex: 0 0 300px;
}

.right-toolbar {
  flex: 0 0 300px;
}

.paper-container {
  flex: 1 1 auto;
  justify-content: center;
  align-content: center;
  overflow: auto;
}

.paper-view /deep/ {
  min-width: 1024px;
  min-height: 800px;
}

.toolbar-wide-button {
  width: 100%;
  margin-bottom: 2px;
}

.vokzal {
  background-color: rgba(0, 0, 0, 0.35);
}

.postavshik {
  background-color: rgba(255, 0, 0, 0.35);
}

.aeroport {
  background-color: rgba(0, 0, 255, 0.35);
}
