<mat-form-field class="mr-2">
  <input matInput placeholder="Кол-во для авиаперевозок" name="avia" type="number"
         [(ngModel)]="info.loaders.avia">
</mat-form-field>
<mat-form-field class="mr-2">
  <input matInput placeholder="Длительность загрузки/разгрузки" name="aviaDuration" type="number"
         [(ngModel)]="info.loaders.aviDurationa">
</mat-form-field>
<mat-form-field  class="mr-2">
  <input matInput placeholder="Кол-во для жд перевозок" name="zd" type="number"
         [(ngModel)]="info.loaders.zd">
</mat-form-field>
<mat-form-field  class="mr-2">
  <input matInput placeholder="Длительность загрузки/разгрузки" name="zdDuration" type="number"
         [(ngModel)]="info.loaders.zdDuration">
</mat-form-field>
<mat-form-field class="mr-2">
  <input matInput placeholder="Кол-во автоперевозок" name="avto" type="number"
         [(ngModel)]="info.loaders.avto">
</mat-form-field>
<mat-form-field class="mr-2">
  <input matInput placeholder="Длительность загрузки/разгрузки" name="avtoDuration" type="number"
         [(ngModel)]="info.loaders.avtoDuration">
</mat-form-field>
<mat-form-field class="mr-2">
  <input matInput placeholder="Кол-во для судоперевозок" name="sudo" type="number"
         [(ngModel)]="info.loaders.sudo">
</mat-form-field>
<mat-form-field class="mr-2">
  <input matInput placeholder="Длительность загрузки/разгрузки" name="sudoDuration" type="number"
         [(ngModel)]="info.loaders.sudoDuration">
</mat-form-field>
