<div class="full-height" *ngIf="block">
  <mat-card class="full-height d-flex-column">
    <mat-card-title>
      <ng-container [ngSwitch]="block.classId">
        <ng-container *ngSwitchCase="1">Вокзал</ng-container>
        <ng-container *ngSwitchCase="2">Поставщик</ng-container>
        <ng-container *ngSwitchCase="3">Аэропорт</ng-container>
        <ng-container *ngSwitchCase="4">Порт</ng-container>
        <ng-container *ngSwitchCase="5">Посрденик</ng-container>
        <ng-container *ngSwitchCase="6">Потребитель</ng-container>
      </ng-container>
    </mat-card-title>
    <mat-card-content *ngIf="block.classId === 2" class="card-content f-stretching d-flex-column">
      <div class="title">Товары на продажу</div>
      <app-goods-table [source]="block.info.goodsOut" (dataChanged)="goodsOutChanges($event)"
                       class="f-stretching"></app-goods-table>
    </mat-card-content>
    <mat-card-content *ngIf="block.classId === 6" class="card-content f-stretching d-flex-column">
      <div class="title">Товары на заказ</div>
      <app-goods-table [source]="block.info.goodsIn" (dataChanged)="goodsInChanges($event)"
                       class="f-stretching"></app-goods-table>
    </mat-card-content>
    <mat-card-content *ngIf="block.classId === 5" class="card-content f-stretching d-flex-column">
      <div class="title">Товары на заказ</div>
      <app-goods-table [source]="block.info.goodsIn" (dataChanged)="goodsInChanges($event)"
                       class="f-stretching"></app-goods-table>
      <div class="title">Товары на продажу</div>
      <app-goods-table [source]="block.info.goodsOut" (dataChanged)="goodsOutChanges($event)"
                       class="f-stretching"></app-goods-table>
    </mat-card-content>
    <mat-card-content *ngIf="block.classId === 1 || block.classId === 3 || block.classId === 4"
                      class="card-content f-stretching d-flex-column">
      <div class="" [formGroup]="formGroup">
        <mat-form-field class="full-width">
          <input matInput placeholder="Наименование" name="Наименование" formControlName="name">
        </mat-form-field>
        <ng-container *ngIf="schedules && schedules.controls && schedules.controls.length">
          <h1 style="margin: 2px 0; font-size: 20px">Расписание</h1>
          <ng-container formArrayName="schedules">
            <ng-container *ngFor="let sch of schedules.controls; let i = index;">
              <mat-card [formGroupName]="i">
                <mat-card-title style="font-size: 20px" *ngIf="sch.value.blockTo.classId === 1">Вокзал
                  {{(sch.value.blockTo.info && sch.value.blockTo.info.name) ? '[' + sch.value.blockTo.info.name + ']' : ''}}
                </mat-card-title>
                <mat-card-title style="font-size: 20px" *ngIf="sch.value.blockTo.classId === 3">Аэропорт
                  {{(sch.value.blockTo.info && sch.value.blockTo.info.name) ? '[' + sch.value.blockTo.info.name + ']' : ''}}
                </mat-card-title>
                <mat-card-title style="font-size: 20px" *ngIf="sch.value.blockTo.classId === 4">Порт
                  {{(sch.value.blockTo.info && sch.value.blockTo.info.name) ? '[' + sch.value.blockTo.info.name + ']' : ''}}
                </mat-card-title>
                <mat-card-content>
                  <mat-form-field class="full-width">
                    <input matInput [placeholder]="('Время отправления ({mtu})' | timeUnit)" formControlName="timeFrom">
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <input matInput [placeholder]="('Периодичность ({mtu})' | timeUnit)" formControlName="period">
                  </mat-form-field>
                </mat-card-content>

                <mat-card>
                  <mat-card-title style="font-size: 19px">Контейнеры</mat-card-title>
                  <mat-card-content>
                    <mat-list *ngIf="schedules.controls[i].value &&
                    schedules.controls[i].value.containers && schedules.controls[i].value.containers.length">
                      <mat-list-item *ngFor="let c of schedules.controls[i].value.containers; let ind = index">
                        <b>{{c.type.name}}</b>, кол-во: {{c.count}}, стоимость: {{c.price}}
                        <button mat-button color="warn" (click)="delPack(i, ind)"><i class="material-icons">clear</i></button>
                      </mat-list-item>
                    </mat-list>
                  </mat-card-content>
                  <mat-card-footer class="d-flex-row justify-content-end">
                    <button mat-button (click)="addPack()">+</button>
                  </mat-card-footer>
                </mat-card>

              </mat-card>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </mat-card-content>
    <mat-card-footer class="d-flex-row justify-content-end">
      <button mat-button (click)="save()">Сохранить</button>
    </mat-card-footer>
  </mat-card>
</div>
