<div class="full-height" *ngIf="block">
  <mat-card class="full-height d-flex-column">
    <mat-card-title>
      <ng-container [ngSwitch]="block.classId">
        <h1 *ngSwitchCase="1">Вокзал</h1>
        <h1 *ngSwitchCase="2">Поставщик</h1>
        <h1 *ngSwitchCase="3">Аэропорт</h1>
        <h1 *ngSwitchCase="4">Порт</h1>
        <h1 *ngSwitchCase="5">Производитель</h1>
        <h1 *ngSwitchCase="6">Потребитель</h1>
        <h1 *ngSwitchCase="7">Дистрибьютор</h1>
      </ng-container>
      <mat-form-field class="full-width name" [formGroup]="formGroup">
        <input matInput placeholder="Наименование" name="Наименование" formControlName="name">
      </mat-form-field>

    </mat-card-title>

    <!-- ПОСТАВЩИК -->
    <mat-card-content *ngIf="block.classId === 2" class="card-content f-stretching d-flex-column">
      <mat-card class="small-card" [formGroup]="formGroup">
        <mat-card-title>Обслуживание</mat-card-title>
        <mat-card-content>
          <mat-form-field class="mr-2">
            <input matInput placeholder="Стоимость" formControlName="costService">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Срок" formControlName="serviceTime">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <div class="title">Товары для реализации</div>
      <app-sender-goods-table [source]="block.info.goodsOut"
                              (dataChanged)="goodsOutChanges($event)"></app-sender-goods-table>
      <div class="title">Погрузчики</div>
      <app-loaders [info]="block.info"></app-loaders>
      <mat-card style="margin-bottom: 6px;">
        <mat-card-title style="font-size: 19px">Контейнеры</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item style="font-size: 12px" *ngFor="let c of containers; let ind = index">
              <b>{{c.container.name}}</b>, кол-во: {{c.count}}
              <button mat-button color="warn" (click)="delContainer(ind)"><i class="material-icons">clear</i></button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-footer class="d-flex-row justify-content-end">
          <button mat-button (click)="addContainer()">+</button>
        </mat-card-footer>
      </mat-card>
      <div class="title">Транспортный парк</div>
      <app-transport-park [source]="block.info.transports" (dataChanged)="transports($event)"></app-transport-park>
    </mat-card-content>

    <!-- ПОТРЕБИТЕЛЬ -->
    <mat-card-content *ngIf="block.classId === 6" class="card-content f-stretching d-flex-column">
      <div class="" [formGroup]="formGroup">
        <!--<mat-form-field class="full-width">-->
        <!--<input matInput placeholder="Наименование" name="Наименование" formControlName="name">-->
        <!--</mat-form-field>-->
        <mat-card class="small-card">
          <mat-card-title>Обслуживание</mat-card-title>
          <mat-card-content>
            <mat-form-field class="mr-2">
              <input matInput placeholder="Стоимость" formControlName="costService">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Срок" formControlName="serviceTime">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
        <mat-card class="small-card">
          <mat-card-title>Параметры</mat-card-title>
          <mat-card-content>
            <mat-form-field class="full-width">
              <input matInput placeholder="Точка заказа (%)" name="Точка заказа" type="number" formControlName="rop">
            </mat-form-field>
            <mat-form-field class="mr-2">
              <input matInput placeholder="Спрос (мат. ожидание)" name="Мат. ожидание" formControlName="mat">
            </mat-form-field>
            <mat-form-field class="mr-2">
              <input matInput placeholder="Спрос (дисперсия)" name="Дисперсия" formControlName="disp">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="title">Товары на заказ</div>
      <app-goods-table [source]="block.info.goodsIn" (dataChanged)="goodsInChanges($event)"
                       class=""></app-goods-table>
      <div class="title">Погрузчики</div>
      <app-loaders [info]="block.info"></app-loaders>
    </mat-card-content>

    <!-- ПРОИЗВОДИТЕЛЬ -->
    <mat-card-content *ngIf="block.classId === 5" class="card-content f-stretching d-flex-column">
      <mat-card class="small-card" [formGroup]="formGroup">
        <mat-card-title>Обслуживание</mat-card-title>
        <mat-card-content>
          <mat-form-field class="mr-2">
            <input matInput placeholder="Стоимость" formControlName="costService">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Срок" formControlName="serviceTime">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <div class="title">Погрузчики</div>
      <app-loaders [info]="block.info"></app-loaders>
      <mat-card class="small-card" [formGroup]="formGroup">
        <mat-card-title>Производство</mat-card-title>
        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>Тип</mat-label>
            <mat-select formControlName="workType" placeholder="Тип">
              <mat-option *ngFor="let t of workTypes" [value]="t">
                {{t}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mr-2">
            <input matInput [placeholder]="('Длительность операции ({mtu})' | timeUnit)" formControlName="workDuration">
          </mat-form-field>
          <mat-form-field class="mr-2">
            <input matInput placeholder="Стоимоть операции (р)" formControlName="workCost">
          </mat-form-field>
          <mat-form-field class="mr-2" *ngIf="formGroup.value && formGroup.value.workType === 'Прерываемое'">
            <input matInput [placeholder]="('Длительность перезапуска ({mtu})' | timeUnit)"
                   formControlName="workDurationRestart">
          </mat-form-field>
          <mat-form-field  class="mr-2" *ngIf="formGroup.value && formGroup.value.workType === 'Прерываемое'">
            <input matInput formControlName="workCostRestart" placeholder="Стоимоть перезапуска (р)">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <div class="title">Входной поток</div>
      <app-goods-table [source]="block.info.goodsIn" (dataChanged)="goodsInChanges($event)"
                       class=""></app-goods-table>
      <div class="title">Выходной поток</div>
      <app-goods-table [source]="block.info.goodsOut" (dataChanged)="goodsOutChanges($event)"
                       class=""></app-goods-table>
      <div class="title">Транспортный парк</div>
      <app-transport-park [source]="block.info.transports" (dataChanged)="transports($event)"></app-transport-park>
    </mat-card-content>

    <!-- ДИСТРИБЬЮТЕР -->
    <mat-card-content *ngIf="block.classId === 7" class="card-content f-stretching d-flex-column">
      <mat-card class="small-card" [formGroup]="formGroup">
        <mat-card-title>Обслуживание</mat-card-title>
        <mat-card-content>
          <mat-form-field class="mr-2">
            <input matInput placeholder="Стоимость" formControlName="costService">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Срок" formControlName="serviceTime">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <div class="title">Погрузчики</div>
      <app-loaders [info]="block.info"></app-loaders>
      <div class="title">Товары</div>
      <app-dist-goods-table [source]="block.info.goodsOut"
                            (dataChanged)="goodsOutChanges($event)"></app-dist-goods-table>
      <div class="title">Транспортный парк</div>
      <app-transport-park [source]="block.info.transports" (dataChanged)="transports($event)"></app-transport-park>
    </mat-card-content>

    <!-- УЗЛЫ -->
    <mat-card-content *ngIf="block.classId === 1 || block.classId === 3 || block.classId === 4"
                      class="card-content f-stretching d-flex-column">
      <div class="" [formGroup]="formGroup">
        <ng-container *ngIf="schedules && schedules.controls && schedules.controls.length">
          <h1 style="margin: 2px 0; font-size: 20px">Расписание</h1>
          <ng-container formArrayName="schedules">
            <ng-container *ngFor="let sch of schedules.controls; let i = index;">
              <mat-card [formGroupName]="i">
                <mat-card-title style="font-size: 20px" *ngIf="sch.value.blockTo.classId === 1">Вокзал
                  {{(sch.value.blockTo.info && sch.value.blockTo.info.name) ? '[' + sch.value.blockTo.info.name + ']' : ''}}
                </mat-card-title>
                <mat-card-title style="font-size: 20px" *ngIf="sch.value.blockTo.classId === 3">Аэропорт
                  {{(sch.value.blockTo.info && sch.value.blockTo.info.name) ? '[' + sch.value.blockTo.info.name + ']' : ''}}
                </mat-card-title>
                <mat-card-title style="font-size: 20px" *ngIf="sch.value.blockTo.classId === 4">Порт
                  {{(sch.value.blockTo.info && sch.value.blockTo.info.name) ? '[' + sch.value.blockTo.info.name + ']' : ''}}
                </mat-card-title>
                <mat-card-content>
                  <mat-form-field class="full-width">
                    <input matInput [placeholder]="('Время отправления ({mtu})' | timeUnit)" formControlName="timeFrom">
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <input matInput [placeholder]="('Периодичность ({mtu})' | timeUnit)" formControlName="period">
                  </mat-form-field>
                </mat-card-content>

                <mat-card>
                  <mat-card-title style="font-size: 19px">Контейнеры</mat-card-title>
                  <mat-card-content>
                    <mat-list *ngIf="schedules.get('' + i) && schedules.get('' + i).value &&
                    schedules.get('' + i).value.containers">
                      <mat-list-item style="font-size: 12px"
                                     *ngFor="let c of schedules.get('' + i).value.containers; let ind = index">
                        <b>{{c.container.name}}</b>, кол-во: {{c.count}}, стоимость: {{c.price}}
                        <button mat-button color="warn" (click)="delPack(i, ind)"><i class="material-icons">clear</i>
                        </button>
                      </mat-list-item>
                    </mat-list>
                  </mat-card-content>
                  <mat-card-footer class="d-flex-row justify-content-end">
                    <button mat-button (click)="addPack(i)">+</button>
                  </mat-card-footer>
                </mat-card>

              </mat-card>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </mat-card-content>
    <mat-card-footer class="d-flex-row justify-content-end">
      <button mat-button (click)="save()">Сохранить</button>
    </mat-card-footer>
  </mat-card>
</div>
